@use "sass:math";

$mainColor : #ff4c3b;
$darkBackghround : rgb(61, 61, 61);

* {
    margin: 0;
    padding: 0;
}

.mainColor {
    color: $mainColor;
}
.sm-line {
    width: 150px;
    height: 3px;
    margin: auto;
    background-color: $mainColor;
}
.textC-color {
    color: white;
}
.darkBg {
    background-color: $darkBackghround !important;
}

main {
    .btn-change {
        background-color: white;
        position: fixed;
        color: black;
        top: 50%;
        right: -5px;
        padding: 5px;
        border: 1px solid rgb(117, 117, 117);
        border-radius: 3px;
        cursor: pointer;
    }
    .slider-height {
        height: 450px;
        overflow: hidden;
    }
    .carousel-item img{
        margin: auto;
    }
    .cardTextLeft {
        top: 25%;
        right: -55%;
    }
    .animationCard {
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.05);
                transition: ease-out 0.5s;
            }
        }
    }
   .parllax {
        background-image: url("http://themes.pixelstrap.com/multikart/assets/images/parallax/1.jpg");
        width: 100%;
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
   .animation:hover {
       i ,h3{
           transform: scale(1.1);
           transition: ease-out 0.3s; 
       }
   }
   .modal-content {
       width: 800px;
       height: 400px;
       background-color: rgb(255, 255, 255);
       border: 3px solid $mainColor;
       position: absolute;
       z-index: 2;
       left: 50%;
       top: -500px;
       transform: translate(-50%, -50%);
       display: flex;
       align-items: center;
       transition: ease-in-out 0.4s;

       .modal-header img {
           width: 750px;
       }

       .modal-main {
           color: black;

           input {
               height: 30px;
           }
           button {
               width: 200px;
               height: 60px;
               background-color: $mainColor;
               border: none;
               margin: auto;
               color: wheat;
               cursor: pointer;
           }
       }
   }
   .imgs-row {
       width: 100%;
       img {
           width: calc(100% / 7);
          
       }
   }
}


// product page style

.result-show  {
    list-style: none;
    display: flex;

    li {
        padding: 0 5px;
        img {
            width: 18px;
            cursor: pointer;
        }
    }
}
.sidebar {
    width: 100%;
    .colappse-btn {
        width: 100%;
        * {
            color: black;
        }
    }
    .card {
        background-color: #f8f9fa;
        border: none;
    }
    .content {
        div {
            label {
                font-size: 13px;
            }
            input {
                width: 15px;
                height: 15px;
                border-radius: 2px;
            }
        }
    }
}

.sidbarCard-img{
    width: 100%;
}
// .product-img {
//     max-height: 17rem;
//     width: auto;
// }
.product-cards {
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.result-show {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
     img {
        height: 30px;
        width: auto;
        padding: 0.25rem;
        }
    }
}

.dropdownSelect {
    display: flex;
    justify-content: center;
    select{
    height: 100%;
    border: 0;
    text-align: center;
    font-size: 13px;
    }
    
}


//media

@media (max-width: 994px) {
  .sidebar {
      left: -1500px;
      position: absolute;
  }
}
