@use "sass:math";
* {
  margin: 0;
  padding: 0;
}

.mainColor {
  color: #ff4c3b;
}

.sm-line {
  width: 150px;
  height: 3px;
  margin: auto;
  background-color: #ff4c3b;
}

.textC-color {
  color: white;
}

.darkBg {
  background-color: #3d3d3d !important;
}

main .btn-change {
  background-color: white;
  position: fixed;
  color: black;
  top: 50%;
  right: -5px;
  padding: 5px;
  border: 1px solid #757575;
  border-radius: 3px;
  cursor: pointer;
}

main .slider-height {
  height: 450px;
  overflow: hidden;
}

main .carousel-item img {
  margin: auto;
}

main .cardTextLeft {
  top: 25%;
  right: -55%;
}

main .animationCard {
  overflow: hidden;
}

main .animationCard:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

main .parllax {
  background-image: url("http://themes.pixelstrap.com/multikart/assets/images/parallax/1.jpg");
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .animation:hover i, main .animation:hover h3 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

main .modal-content {
  width: 800px;
  height: 400px;
  background-color: white;
  border: 3px solid #ff4c3b;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: -500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

main .modal-content .modal-header img {
  width: 750px;
}

main .modal-content .modal-main {
  color: black;
}

main .modal-content .modal-main input {
  height: 30px;
}

main .modal-content .modal-main button {
  width: 200px;
  height: 60px;
  background-color: #ff4c3b;
  border: none;
  margin: auto;
  color: wheat;
  cursor: pointer;
}

main .imgs-row {
  width: 100%;
}

main .imgs-row img {
  width: calc(100% / 7);
}

.result-show {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-show li {
  padding: 0 5px;
}

.result-show li img {
  width: 18px;
  cursor: pointer;
}

.sidebar {
  width: 100%;
}

.sidebar .colappse-btn {
  width: 100%;
}

.sidebar .colappse-btn * {
  color: black;
}

.sidebar .card {
  background-color: #f8f9fa;
  border: none;
}

.sidebar .content div label {
  font-size: 13px;
}

.sidebar .content div input {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.sidbarCard-img {
  width: 100%;
}

.product-cards {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.result-show {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-show li img {
  height: 30px;
  width: auto;
  padding: 0.25rem;
}

.dropdownSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdownSelect select {
  height: 100%;
  border: 0;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 994px) {
  .sidebar {
    left: -1500px;
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */